
openapi: 3.0.3
info:
  title: SRW API
  description: Smart Recycling Waste API
  version: 1.0.0
tags:
  - name: auth
    description: Authentication endpoints
  - name: admin
    description: Admin management endpoints
  - name: agent
    description: Agent operations endpoints
  - name: client
    description: Client operations endpoints
servers:
  - url: https://srw-api.achmad.dev
    description: Development server
paths:
  /health:
    get:
      summary: Health check
      description: Check if the API is running and healthy
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
  /auth/login/admin:
    post:
      tags:
        - auth
      summary: Admin login
      description: Authenticate admin user with username and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicAuthRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TokenPair'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /auth/login/agent:
    post:
      tags:
        - auth
      summary: Agent login
      description: Authenticate agent user with username and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicAuthRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TokenPair'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /auth/login/client:
    post:
      tags:
        - auth
      summary: Client login
      description: Authenticate client with NFC card
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NfcAuthRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TokenPair'
        '401':
          description: Invalid NFC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /auth/logout:
    post:
      tags:
        - auth
      summary: Logout
      description: Revoke refresh token to logout user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenAuthRequest'
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /auth/refresh:
    post:
      tags:
        - auth
      summary: Refresh access token
      description: Get new access token using refresh token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenAuthRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TokenPair'
        '401':
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /admin/clients:
    get:
      tags:
        - admin
      summary: Get clients
      description: Retrieve a paginated list of clients. Requires admin authentication.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of items per page
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedClientsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/clients/{id}:
    get:
      tags:
        - admin
      summary: Get client details
      description: Retrieve detailed information about a specific client. Requires admin authentication.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Client ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ClientResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Client not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: [ ]
    put:
      tags:
        - admin
      summary: Update client
      description: Update client information. Requires admin authentication.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Client ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClientRequest'
      responses:
        '200':
          description: Client updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ClientResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Client not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
    delete:
      tags:
        - admin
      summary: Delete client
      description: Delete a client. Requires admin authentication.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Client ID
      responses:
        '200':
          description: Client deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Client not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/clients/new:
    post:
      tags:
        - admin
      summary: Create new client
      description: Create a new client. Requires admin authentication.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClientRequest'
      responses:
        '201':
          description: Client created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ClientResponse'
        '400':
          description: Bad request - invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/agents:
    get:
      tags:
        - admin
      summary: Get agents
      description: Retrieve a paginated list of agents. Requires admin authentication.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of items per page
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedAgentsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/agents/new:
    post:
      tags:
        - admin
      summary: Create new agent
      description: Create a new agent. Requires admin authentication.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '201':
          description: Agent created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AgentResponse'
        '400':
          description: Bad request - invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /agents/submissions:
    get:
      tags:
        - agent
      summary: Get agent submissions
      description: Retrieve a paginated list of submissions assigned to the authenticated agent. Requires agent authentication.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of items per page
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedSubmissionsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /agents/submissions/{id}:
    get:
      tags:
        - agent
      summary: Get agent submission details
      description: Retrieve detailed information about a specific submission if it is assigned to the authenticated agent. Requires agent authentication.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Submission ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SubmissionDetailResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden - submission not assigned to you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Submission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/agents/{id}:
    get:
      tags:
        - admin
      summary: Get agent details
      description: Retrieve detailed information about a specific agent. Requires admin authentication.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Agent ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AgentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
    put:
      tags:
        - admin
      summary: Update agent
      description: Update agent information. Requires admin authentication.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Agent ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: Agent updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AgentResponse'
        '400':
          description: Bad request - invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
    delete:
      tags:
        - admin
      summary: Delete agent
      description: Delete an agent. Requires admin authentication.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Agent ID
      responses:
        '200':
          description: Agent deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/points/{clientId}:
    get:
      tags:
        - admin
      summary: Get client points ledger
      description: Retrieve a paginated list of points transactions for a specific client. Requires admin authentication.
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: integer
          description: Client ID
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of items per page
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedPointLedgerResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/points/{clientId}/claim:
    post:
      tags:
        - admin
      summary: Claim points for client
      description: Deduct points from a client's balance (for redemption). Requires admin authentication.
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: integer
          description: Client ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimPointsRequest'
      responses:
        '201':
          description: Points claimed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PointResponse'
        '400':
          description: Bad request - invalid amount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/trash:
    get:
      tags:
        - admin
      summary: Get all trash types
      description: Retrieve all available trash types. Requires admin authentication.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/TrashResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/trash/new:
    post:
      tags:
        - admin
      summary: Create new trash type
      description: Create a new trash type. Requires admin authentication.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTrashRequest'
      responses:
        '201':
          description: Trash type created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TrashResponse'
        '400':
          description: Bad request - invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/trash/{name}:
    get:
      tags:
        - admin
      summary: Get trash type by name
      description: Retrieve information about a specific trash type by name. Requires admin authentication.
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
          description: Trash type name
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TrashResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Trash type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
    put:
      tags:
        - admin
      summary: Update trash type
      description: Update trash type points per unit. Requires admin authentication.
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
          description: Trash type name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTrashRequest'
      responses:
        '200':
          description: Trash type updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TrashResponse'
        '400':
          description: Bad request - invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Trash type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
    delete:
      tags:
        - admin
      summary: Delete trash type
      description: Delete a trash type. Requires admin authentication.
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
          description: Trash type name
      responses:
        '200':
          description: Trash type deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Trash type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/submissions:
    get:
      tags:
        - admin
      summary: Get all submissions (Admin)
      description: Retrieve a paginated list of all submissions. Requires admin authentication.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of items per page
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/SubmissionStatus'
          description: Filter submissions by status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedSubmissionsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /clients/profile:
    get:
      tags:
        - client
      summary: Get client profile
      description: Retrieve a detailed client that belongs to the client. Requires client authentication.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ClientResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /clients/profile/points:
    get:
      tags:
        - client
      summary: Get client points ledger
      description: Retrieve a paginated list of the authenticated client's points transactions. Requires client authentication.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of items per page
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedPointLedgerResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /clients/submissions:
    get:
      tags:
        - client
      summary: Get client submissions
      description: Retrieve a paginated list of the authenticated client's submissions. Requires client authentication.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of items per page
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaginatedSubmissionsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /clients/submissions/new:
    post:
      tags:
        - client
      summary: Create new submission
      description: Create a new submission with uploaded images. Requires client authentication.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                images:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Image files to upload (at least one required)
      responses:
        '201':
          description: Submission created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SubmissionDetailResponse'
        '400':
          description: Bad request - no images provided or invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /clients/submissions/{id}:
    get:
      tags:
        - client
      summary: Get client submission details
      description: Retrieve detailed information about a specific submission if it belongs to the authenticated client. Requires client authentication.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Submission ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SubmissionDetailResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden - cannot access this submission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Submission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/submissions/{id}:
    get:
      tags:
        - admin
      summary: Get submission details (Admin)
      description: Retrieve detailed information about a specific submission. Requires admin authentication.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Submission ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SubmissionDetailResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden - cannot access this submission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Submission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/submissions/{id}/review:
    post:
      tags:
        - admin
      summary: Review submission
      description: Approve or reject a submission. Requires admin authentication.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Submission ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewSubmissionRequest'
      responses:
        '200':
          description: Submission reviewed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Submission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/submissions/{id}/assign:
    post:
      tags:
        - admin
      summary: Assign agent to submission
      description: Assign an agent to handle a submission. Requires admin authentication.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Submission ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignAgentRequest'
      responses:
        '200':
          description: Agent assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Submission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /agents/submissions/{id}/pickup:
    post:
      tags:
        - agent
      summary: Confirm pickup
      description: Confirm that an agent has picked up the submission. Requires agent authentication.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Submission ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPickupRequest'
      responses:
        '200':
          description: Pickup confirmed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Submission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/submissions/{id}/history:
    get:
      tags:
        - admin
      summary: Get submission history
      description: Retrieve the history of status changes for a submission. Requires admin authentication.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Submission ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SubmissionHistoryResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Submission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/submissions/{id}/ml-status:
    get:
      tags:
        - admin
      summary: Get ML processing status
      description: Retrieve the ML processing status for a submission. Requires admin authentication.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Submission ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MLStatusResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Submission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
  /admin/submissions/{id}/images/{imageId}/metadata:
    post:
      tags:
        - admin
      summary: Update metadata
      description: Update metadata for an image (replaces existing metadata). Requires admin authentication.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Submission ID
        - name: imageId
          in: path
          required: true
          schema:
            type: string
          description: Image ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualMetadataRequest'
      responses:
        '200':
          description: Metadata updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Submission or image not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
      security:
        - bearerAuth: []
components:
  schemas:
    BasicAuthRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
        password:
          type: string
    NfcAuthRequest:
      type: object
      required:
        - nfc
      properties:
        nfc:
          type: string
    RefreshTokenAuthRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string
    TokenPair:
      type: object
      required:
        - accessToken
        - refreshToken
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
    CreateClientRequest:
      type: object
      required:
        - nfc
        - name
        - address
      properties:
        nfc:
          type: string
        name:
          type: string
        address:
          type: string
    UpdateClientRequest:
      type: object
      properties:
        name:
          type: string
        nfc:
          type: string
        address:
          type: string
    ClientResponse:
      type: object
      required:
        - nfc
        - name
        - address
        - totalPoints
      properties:
        nfc:
          type: string
        name:
          type: string
        address:
          type: string
        totalPoints:
          type: integer
          default: 0
    PaginatedClientsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ClientResponse'
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
    PointResponse:
      type: object
      required:
        - id
        - amount
        - createdAt
      properties:
        id:
          type: integer
        amount:
          type: integer
        createdAt:
          type: string
          format: date-time
        submissionId:
          type: integer
          nullable: true
    PaginatedPointLedgerResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PointResponse'
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
    CreateAgentRequest:
      type: object
      required:
        - name
        - username
        - password
      properties:
        name:
          type: string
        username:
          type: string
        password:
          type: string
    UpdateAgentRequest:
      type: object
      properties:
        name:
          type: string
          nullable: true
        username:
          type: string
          nullable: true
        password:
          type: string
          nullable: true
    AgentResponse:
      type: object
      required:
        - id
        - name
        - username
        - createdAt
        - updatedAt
      properties:
        id:
          type: integer
        name:
          type: string
        username:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    PaginatedAgentsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AgentResponse'
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
    CreateTrashRequest:
      type: object
      required:
        - name
        - pointsPerUnit
      properties:
        name:
          type: string
        pointsPerUnit:
          type: integer
    UpdateTrashRequest:
      type: object
      properties:
        pointsPerUnit:
          type: integer
          nullable: true
    TrashResponse:
      type: object
      required:
        - name
        - pointsPerUnit
        - createdAt
        - updatedAt
      properties:
        name:
          type: string
        pointsPerUnit:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SubmissionStatus:
      type: string
      enum:
        - PENDING
        - ML_PROCESSING
        - AWAITING_REVIEW
        - APPROVED
        - REJECTED
        - ASSIGNED
        - PICKED_UP
        - COMPLETED
    BaseResponse:
      type: object
      properties:
        success:
          type: boolean
        code:
          type: integer
        message:
          type: string
        data:
          nullable: true
    PaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
    PaginatedSubmissionsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SubmissionDetailResponse'
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
    ReviewSubmissionRequest:
      type: object
      properties:
        approved:
          type: boolean
        rejectionReason:
          type: string
          nullable: true
        adminNotes:
          type: string
          nullable: true
    AssignAgentRequest:
      type: object
      properties:
        agentId:
          type: integer
    ConfirmPickupRequest:
      type: object
      properties:
        notes:
          type: string
          nullable: true
    ClaimPointsRequest:
      type: object
      required:
        - amount
      properties:
        amount:
          type: integer
          description: Amount of points to claim (positive integer)
    SubmissionDetailResponse:
      type: object
      properties:
        id:
          type: integer
        clientId:
          type: integer
        clientName:
          type: string
        clientNfc:
          type: string
        agentId:
          type: integer
          nullable: true
        agentName:
          type: string
          nullable: true
        status:
          $ref: '#/components/schemas/SubmissionStatus'
        rejectionReason:
          type: string
          nullable: true
        adminNotes:
          type: string
          nullable: true
        pickupLocation:
          type: string
          nullable: true
        totalPoints:
          type: integer
          nullable: true
        images:
          type: array
          items:
            $ref: '#/components/schemas/SubmissionImageResponse'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        processedAt:
          type: string
          format: date-time
          nullable: true
        reviewedAt:
          type: string
          format: date-time
          nullable: true
        assignedAt:
          type: string
          format: date-time
          nullable: true
        pickedUpAt:
          type: string
          format: date-time
          nullable: true
    SubmissionImageResponse:
      type: object
      properties:
        id:
          type: string
          description: Image ID (object key in MinIO storage)
        url:
          type: string
          description: Presigned URL for accessing the image. Expires after 7 days. Generate a new URL by calling the API again to get a fresh presigned URL.
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/ImageMetadataResponse'
        createdAt:
          type: string
          format: date-time
    ImageMetadataResponse:
      type: object
      properties:
        id:
          type: integer
        trashType:
          type: string
        amount:
          type: integer
        points:
          type: integer
    SubmissionHistoryResponse:
      type: object
      properties:
        id:
          type: integer
        oldStatus:
          type: string
        newStatus:
          type: string
        changedBy:
          type: integer
        userType:
          type: string
        comment:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    MLStatusResponse:
      type: object
      properties:
        submissionId:
          type: integer
        status:
          $ref: '#/components/schemas/SubmissionStatus'
        totalImages:
          type: integer
        processedImages:
          type: integer
        failedImages:
          type: integer
        images:
          type: array
          items:
            $ref: '#/components/schemas/MLImageStatus'
    MLImageStatus:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        error:
          type: string
          nullable: true
    ManualMetadataRequest:
      type: object
      properties:
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/ManualMetadataItem'
    ManualMetadataItem:
      type: object
      properties:
        trashType:
          type: string
        amount:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  security:
    - bearerAuth: []